<div class="container__big-card">

    <div class="big-card__foto">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQpZaeWxczipxrTdSIThz5hmwrRYhEeeAl5A&s" alt="">
    </div>
    <div class="big-card__titulo">
        <h1>Saiu a Nova Versão do Angular</h1>

    </div>

    <div class="big-card__descricao">

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error possimus natus ipsa deleniti incidunt qui reprehenderit alias tempore, voluptate aut, optio vitae porro, voluptatum culpa fugiat laboriosam aliquam neque amet.</p>

    </div>

</div>
