@import url('https://fonts.cdnfonts.com/css/star-wars');
.container__menu-title > h1 {
  font-family: 'Star Wars', sans-serif;
  color: #FFFF00;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150px;
  text-align: center;
}
.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
