.container__small-card {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: 40px;
  margin-right: 60px;

}
.small-card__foto > img {
  width: 300px;
  min-width:300px;
  margin-right: 20px;
  margin-bottom: 20px;

}
.small-card__titulo > p > a {
  text-align: justify;
  color: gray;
}
