<div class="container__small-card">
    <div class="small-card__foto">
        <img src="https://t.ctcdn.com.br/UZJhbF8_WcFlbuyrt8FMghcIpLY=/768x432/smart/i930581.jpeg" alt=""  height="200px">
    </div>
    <br>
    <div class="small-card__titulo">
      <p><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati aperiam alias quo accusamus magni, esse nesciunt sunt tenetur aliquid earum maiores doloremque vero soluta perspiciatis labore sed deleniti, necessitatibus neque.</a></p>


    </div>

</div>

